* {
    margin: 0;
    padding: 0;
 }

 .container {
    position: relative;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 32px;
    .candy,
    .cake,
    .gummie,
    .halvah,
    .candy-img,
    .cake-img,
    .gummie-img,
    .halvah-img {
      position: absolute;
      top: -200px;
     }
    .candy,
    .cake,
    .gummie,
    .halvah {
      left: 450px;
     }
    .candy-img,
    .cake-img,
    .gummie-img,
    .halvah-img {
       width: 100px;
       height: 100px;
       background-image: url(../images/sprite.png);
       left: 800px;
    }
    .candy-img {
       background-position: -100px 100px;
    }
    .cake-img {
       background-position: 0 100px;
    }
    .gummie-img {
       background-position: 200px 100px;
    }
    .halvah-img {
       background-position: 100px 100px;
    }
    .chocolate,
    .cheesecake {
      position: absolute;
      left: 410px;
      visibility: hidden;
    }
    .roll {
      font-size: 14px;
      border: 1px solid black;
      width: 100px;
      height: 20px;
      font-weight: normal;
      position: absolute;
      left: 50px;
      top: -30px;
    }
    .chocolate {
      top: 220px;
    }
    .cheesecake {
      font-family: "Lobster";
      font-weight: normal;
      top: 400px;
    }
}
    @keyframes candy-anim-1 {
       100% {top: 50px;}
    }
    @keyframes candy-img-anim-1 {
        100% {top: 20px;}
    }
    @keyframes cake-anim-1 {
        100% {top: 170px;}
    }
    @keyframes cake-img-anim-1 {
        100% {top: 140px;}
    }
    @keyframes gummie-anim-1 {
        100% {top: 290px;}
    }
    @keyframes gummie-img-anim-1 {
        100% {top: 260px;}
    }
    @keyframes halvah-anim-1 {
        100% {top: 410px;}
    }
    @keyframes halvah-img-anim-1 {
        100% {top: 380px;}
    }
    @keyframes candy-anim-2 {
       100% {left: 250px;}
    }
    @keyframes candy-img-anim-2 {
        100% {left: 950px;}
    }
    @keyframes cake-anim-2 {
        100% {left: 250px;}
    }
    @keyframes cake-img-anim-2 {
        100% {left: 950px;}
    }
    @keyframes gummie-anim-2 {
        100% {left: 250px;}
    }
    @keyframes gummie-img-anim-2 {
        100% {left: 950px;}
    }
    @keyframes halvah-anim-2 {
        100% {left: 250px;}
    }
    @keyframes halvah-img-anim-2 {
        100% {left: 950px;}
    }
    @keyframes candy-img-anim-3 {
        100% {background-position: 300px 0px;}
    }
    @keyframes cake-img-anim-3 {
        100% {background-position: 0px 0px;}
    }
    @keyframes gummie-img-anim-3 {
        100% {background-position: 200px 0px;}
    }
    @keyframes halvah-img-anim-3 {
        100% {background-position: 100px 0px;}
    }
    @keyframes candy-anim-4 {
       100% {left: -800px;}
    }
    @keyframes candy-img-anim-4 {
        100% {left: -100px;
              transform: rotate(-200deg);}
    }
    @keyframes cake-anim-4 {
        99% {left: 1550px;}
        100% {visibility:hidden;}
    }
    @keyframes cake-img-anim-4 {
        99% {transform: rotate(200deg);
              left: 2250px;}
        100% {visibility:hidden;}
    }
    @keyframes gummie-anim-4 {
        100% {left: -800px;}
    }
    @keyframes gummie-img-anim-4 {
        100% {left: -100px;
              transform: rotate(-200deg);}
    }
    @keyframes halvah-anim-4 {
        99% {left: 1550px;}
        100% {visibility:hidden;}
    }
    @keyframes halvah-img-anim-4 {
        99% {left: 2250px;
              transform: rotate(200deg);}
        100% {visibility:hidden;}
    }
    @keyframes grow {
        0% {visibility: hidden;
            transform: scale(0.1);}
        100% {visibility: visible;
              transform: scale(1);}
    }
    @keyframes ride {
      50% {top: 320px;
            left: 50px;}
      100% {top: 320px;
            left: 500px;}
    }
    @keyframes rota {
      100% {transform: rotateX(360deg);}
    }
    @keyframes disappear {
      100% {opacity: 0;
            transform: scaleX(0);}
    }
  .container {
    .candy {
       animation-name: candy-anim-1, candy-anim-2, candy-anim-4;
       animation-duration: 1s, 1s, 2s;
       animation-delay: 0s, 4s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;;
       animation-fill-mode: forwards;
    }
    .candy-img {
       animation-name: candy-img-anim-1, candy-img-anim-2, candy-img-anim-3, candy-img-anim-4;
       animation-duration: 1s, 1s, 1ms, 2s;
       animation-delay: 0s, 4s, 8s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
   }
   .cake {
       animation-name: cake-anim-1, cake-anim-2, cake-anim-4;
       animation-duration: 1s, 1s, 2s;
       animation-delay: 1s, 5s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
   }
   .cake-img {
       animation-name: cake-img-anim-1, cake-img-anim-2, cake-img-anim-3, cake-img-anim-4;
       animation-duration: 1s, 1s, 1ms, 2s;
       animation-delay: 1s, 5s, 9s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
    }
    .gummie {
       animation-name: gummie-anim-1, gummie-anim-2, gummie-anim-4;
       animation-duration: 1s, 1s, 2s;
       animation-delay: 2s, 6s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
    }
    .gummie-img {
       animation-name: gummie-img-anim-1, gummie-img-anim-2, gummie-img-anim-3, gummie-img-anim-4;
       animation-duration: 1s, 1s, 1ms, 2s;
       animation-delay: 2s, 6s, 10s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
    }
    .halvah {
       animation-name: halvah-anim-1, halvah-anim-2, halvah-anim-4;
       animation-duration: 1s, 1s, 2s;
       animation-delay: 3s, 7s, 12s;
       animation-iteration-count: 1;
       animation-timing-function:linear;
       animation-fill-mode: forwards;
    }
    .halvah-img {
       animation-name: halvah-img-anim-1, halvah-img-anim-2, halvah-img-anim-3, halvah-img-anim-4;
       animation-duration: 1s, 1s, 1ms, 2s;
       animation-delay: 3s, 7s, 11s, 12s;
       animation-iteration-count: 1;
       animation-timing-function: linear;
       animation-fill-mode: forwards;
    }
    .chocolate {
      animation-name: grow, rota, disappear;
      animation-duration: 2s, 1s, 2s;
      animation-delay: 14s, 18s, 19s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    .cheesecake {
      animation-name: grow, rota, disappear;
      animation-duration: 2s, 1s, 2s;
      animation-delay: 14s, 18s, 19s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    .roll {
      animation-name: ride, rota, disappear;
      animation-duration: 2s, 1s, 2s;
      animation-delay: 16s, 18s, 19s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
}
